
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');

/* Oxford Blue: #001B2E
Slate Grey: #70798c
Isabelline: #f5f1ed
Bone: #dad2bc
Grullo: #a99985 */

body{
    background-color: #F5F1ED;
    font-family: 'Recursive', sans-serif;
    color: #001B2E;
}